.start-page {
    background-image: url('../../images/fjord.JPG');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    
    h1 {
        font-size: 2em;
        font-family: 'Aclonica', sans-serif;
        color: red;
    }
}

