body {
    .blog-page {
        background-image: url('../../images/jungle.jpg');
        background-size:     cover;                      
        background-repeat:   no-repeat;
        background-position: center center; 
    }
    
    h1 {
        font-size: 2em;
        font-family: 'Aclonica', sans-serif;
        color: rgb(8, 7, 7);
    }


}